/**
	Remove crap:
**/

.aui-header{
	background: #ccc !important;
}

.toolbar-split-right{
	display:none !important;
}

#footer, #viewissuesidebar,#opsbar-opsbar-transitions,
#system-help-menu,.app-switcher-trigger, .jira-system-avatar,
.details-module_heading, .aui-sidebar{
	display: none !important
}

.issue-body-content{
	padding: 40px 80px;
}

.aui-page-header{
	background: #fff !important;
	padding: 10px 20px !important;
}

.command-bar{
	border-top: none !important;
	padding-top: 0px !important;
}


.aui-page-header #summary-val{
	background: #fff;
    font-size: 22px;
    font-family: monospace;
    margin: 10px 0 0 0;
    line-height: 34px;
	max-width: 800px;
	padding-left: 0px;
}

.mod-header{
	background-image: none !important;
}

.user-content-block{
	font-size:16px;
	padding:20px;
}

.module{
	margin: 20px 0 !important;
	max-width: 80% !important;
}


#content{
	padding: 0 40px !important;
	background: #fff !important;
}
